In [25]:
import pandas as pd

In [26]:
data = pd.read_csv("global_house_purchase_dataset.csv")

In [24]:
print(data.head())

             City   Country        Date   PM2.5    PM10    NO2    SO2    CO  \
0         Bangkok  Thailand  2023-03-19   86.57   25.19  99.88  30.63  4.46
1        Istanbul    Turkey  2023-02-16   50.63   97.39  48.14   8.71  3.40
2  Rio de Janeiro    Brazil  2023-11-13  130.21   57.22  98.51   9.92  0.12
3          Mumbai     India  2023-03-16  119.70  130.52  10.96  33.03  7.74
4           Paris    France  2023-04-04   55.20   36.62  76.85  21.85  2.00

       O3  Temperature  Humidity  Wind Speed
0   36.29        17.67     59.35       13.76
1  144.16         3.46     67.51        6.36
2  179.31        25.29     29.30       12.87
3   38.65        23.15     99.97        7.71
4   67.09        16.02     90.28       14.16

In [14]:
print(data.head())

             City   Country        Date   PM2.5    PM10    NO2    SO2    CO  \
0         Bangkok  Thailand  2023-03-19   86.57   25.19  99.88  30.63  4.46
1        Istanbul    Turkey  2023-02-16   50.63   97.39  48.14   8.71  3.40
2  Rio de Janeiro    Brazil  2023-11-13  130.21   57.22  98.51   9.92  0.12
3          Mumbai     India  2023-03-16  119.70  130.52  10.96  33.03  7.74
4           Paris    France  2023-04-04   55.20   36.62  76.85  21.85  2.00

       O3  Temperature  Humidity  Wind Speed
0   36.29        17.67     59.35       13.76
1  144.16         3.46     67.51        6.36
2  179.31        25.29     29.30       12.87
3   38.65        23.15     99.97        7.71
4   67.09        16.02     90.28       14.16

In [23]:
data = pd.read_csv("global_air_quality_data_10000.csv")

In [19]:
print(data.isnull().sum)

<bound method DataFrame.sum of        City  Country   Date  PM2.5   PM10    NO2    SO2     CO     O3  \
0     False    False  False  False  False  False  False  False  False
1     False    False  False  False  False  False  False  False  False
2     False    False  False  False  False  False  False  False  False
3     False    False  False  False  False  False  False  False  False
4     False    False  False  False  False  False  False  False  False
...     ...      ...    ...    ...    ...    ...    ...    ...    ...
9995  False    False  False  False  False  False  False  False  False
9996  False    False  False  False  False  False  False  False  False
9997  False    False  False  False  False  False  False  False  False
9998  False    False  False  False  False  False  False  False  False
9999  False    False  False  False  False  False  False  False  False

      Temperature  Humidity  Wind Speed
0           False     False       False
1           False     False       False
2           False     False       False
3           False     False       False
4           False     False       False
...           ...       ...         ...
9995        False     False       False
9996        False     False       False
9997        False     False       False
9998        False     False       False
9999        False     False       False

[10000 rows x 12 columns]>

In [20]:
print(data.columns)

Index(['City', 'Country', 'Date', 'PM2.5', 'PM10', 'NO2', 'SO2', 'CO', 'O3',
       'Temperature', 'Humidity', 'Wind Speed'],
      dtype='object')

In [21]:
print(data.describe())

              PM2.5          PM10           NO2           SO2            CO  \
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      77.448439    104.438161     52.198649     25.344490      5.047984
std       41.927871     55.062396     27.320490     14.091194      2.852625
min        5.020000     10.000000      5.010000      1.000000      0.100000
25%       41.185000     57.137500     28.347500     13.190000      2.560000
50%       77.725000    103.690000     52.100000     25.350000      5.090000
75%      113.392500    152.265000     75.705000     37.500000      7.480000
max      149.980000    200.000000    100.000000     49.990000     10.000000

                 O3  Temperature      Humidity    Wind Speed
count  10000.000000  10000.00000  10000.000000  10000.000000
mean     106.031643     14.89715     55.078579     10.231636
std       55.081345     14.44380     25.982232      5.632628
min       10.040000    -10.00000     10.010000      0.500000
25%       58.380000      2.25750     32.527500      5.290000
50%      106.055000     14.75500     55.080000     10.260000
75%      153.982500     27.38250     77.442500     15.070000
max      200.000000     40.00000     99.990000     20.000000