In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Customer_Order_data.csv")

In [4]:
data

,OrderID,Date,Product,Category,price,Quantity,Total,Customer_Age,Payment_Method
0,1001.0,2024-01-02,Mouse,Electronics,500,2,100,23,Cash
1,1002.0,2024-01-03,NaN,Electronics,1000,5,50,31,Card
2,1003.0,NaN,Keyboard,Electronics,50000,3,600,40,Online
3,1004.0,2024-01-05,Loptop,Electronics,700,1,55000,50,Cash
4,1005.0,2024-01-06,Headphone,Electronics,15000,6,400,55,Card
5,NaN,2024-01-07,Printer,Electronics,3000,1,700,60,Online

In [5]:
data.isnull()

,OrderID,Date,Product,Category,price,Quantity,Total,Customer_Age,Payment_Method
0,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,True,False,False,False,False,False,False,False,False

In [6]:
data.isnull().sum()

OrderID           1
Date              1
Product           1
Category          0
price             0
Quantity          0
Total             0
Customer_Age      0
Payment_Method    0
dtype: int64

In [7]:
data.isnull().sum().sum()

np.int64(3)